body {
  height: 100vh;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background-color: wheat;
  border: 2px solid black;
  height: 240px;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
div {
  border: 3px;
  height: 50px;
  width: 50px;
  background-color: teal;
  margin: 10px;
}
.smallsquare {
  border: solid white;
}
#narrow {
  border: dashed white;
  width: 200px;
}
